html, body {
    height: 100%;
    min-width: 900px;
    max-width: 1366px;
    margin: 0;
}

#wrapper {
}

* html #wrapper {
    height: 100%;
}

#content1 {
    display: flex;
    background-color: #1abc9c;
    height: 500px;
}

#content2 {
    background-color: white;
    height: 350px;
}

#content3 {
    background-color: #1abc9c;
    height: 500px;

}

#header {
    background-color: white;
    display: flex;
    height: 100px;
}

.imgN {
    display: flex;
    margin-left: 100%;
    margin-top: 25px;
}

#iphone{
    width: 50%;
}

.imgPhone{
    display: flex;
    margin-left: 40%;
    padding-top: 30px;
}

.links {
    margin-left: 50%;
    margin-top: 40px;
    display: inline-flex;
}


#products {
    font-family: Helvetica;
    font-size: 1.1rem;
    margin-right: 45px;
}

#aboutUs {
    font-family: Helvetica;
    font-size: 1.1rem;
    margin-right: 45px;
}

#contactUs{
    font-family: Helvetica;
    font-size: 1.1rem;
}

#content1Text{
    font-family: Helvetica;
    width: 50%;
    font-size: 1.05rem;
    color: white;
    margin-top: 85px;
}

#content1Text2{
    font-family: Helvetica;
    color: #fcfaea;
    margin-top: 40px;
    width: 90%;
    font-size: 1.3rem;
}

#buyButton{
    padding-top: 5%;
}