html, body {
    height: 100%;
    min-width: 1000px;
    max-width: 1366px;
    margin: 0;
}

* html .wrapper {
    height: 100%;
}

#contentBlock1 {
    display: flex;
    background-color: #1abc9c;
    height: 500px;
}

#contentBlock2 {
    background-color: white;
    height: 400px;
}

#contentBlock3 {
    background-color: #1abc9c;
    height: 100%;

}

header {
    background-color: white;
    display: flex;
    height: 100px;
}

.imgN {
    display: flex;
    margin-left: 100%;
    margin-top: 25px;
}

.contentBlock1__iphone{
    width: 50%;
}

.contentBlock1__iphone--imgIPhone{
    display: flex;
    margin-left: 40%;
    padding-top: 30px;
}

.links {
    margin-left: 50%;
    margin-top: 40px;
    display: inline-flex;
}

.products,
.aboutUs,
.contactUs{
    text-decoration: none;
    font-family: Helvetica;
    color: #16a085;
    font-size: 1.1rem;
    margin-right: 45px;
}

.contentBlock1__textBlock{
    font-family: Helvetica;
    width: 50%;
    font-size: 1.05rem;
    color: white;
    margin-top: 85px;
}

.contentBlock1__textBlock--text{
    font-family: Helvetica;
    color: #fcfaea;
    margin-top: 40px;
    width: 90%;
    font-size: 1.3rem;
}

#contentBlock2{
    display: inline-flex;
    font-family: Helvetica;
    color: #536270;
}

.contentBlock2__content1{
    padding-left: 10%;
}

.contentBlock2__content3{
    padding-right: 10%;
}


.contentBlock2__content1,
.contentBlock2__content2,
.contentBlock2__content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.contentBlock2__content2--icon,
.contentBlock2__content3--icon,
.contentBlock2__content1--icon{
    width: 110px;
    height: 110px;
    background-color: #1abc9c;
    margin-top: 50px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
}

i{
    margin-top: 30%;
}

.contentBlock3__contactUs{
    font-family: Helvetica;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 30px;
}

.contentBlock3__form{
    text-align: center;
    margin-top: -30px;
    white-space: pre;
}

.contentBlock3__form--name,
.contentBlock3__form--email,
.contentBlock3__form--phone,
.contentBlock3__form--textarea{
    min-width: 400px;
    width: 600px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Helvetica;
    font-size: 1.4rem;
    color: #000000;
    margin-top: 10px;
}

.contentBlock3__form--submit{
    font-family: Helvetica;
    font-size: 1.5rem;
    color: #d8fdfd;
    padding: 10px 60px 10px 60px;
    background: #1abc9c;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 55px;
    margin-bottom: 50px;
}

button.contentBlock1__textBlock--buyButton{
    font-family: Helvetica;
    font-size: 1.5rem;
    color: #d8fdfd;
    padding: 10px 25px 10px 25px;
    background: #1abc9c;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 40px;
}