html, body {
    height: 100%;
    min-width: 1000px;
    max-width: 1366px;
    margin: 0;
}

#wrapper {
}

* html #wrapper {
    height: 100%;
}

#content1 {
    display: flex;
    background-color: #1abc9c;
    height: 500px;
}

#content2 {
    background-color: white;
    height: 400px;
}

#content3 {
    background-color: #1abc9c;
    height: 100%;

}

header {
    background-color: white;
    display: flex;
    height: 100px;
}

.imgN {
    display: flex;
    margin-left: 100%;
    margin-top: 25px;
}

#iphone{
    width: 50%;
}

.imgPhone{
    display: flex;
    margin-left: 40%;
    padding-top: 30px;
}

.links {
    margin-left: 50%;
    margin-top: 40px;
    display: inline-flex;
}


#products {
    font-family: Helvetica;
    font-size: 1.1rem;
    margin-right: 45px;
}

#aboutUs {
    font-family: Helvetica;
    font-size: 1.1rem;
    margin-right: 45px;
}

#contactUs{
    font-family: Helvetica;
    font-size: 1.1rem;
}

#content1Text{
    font-family: Helvetica;
    width: 50%;
    font-size: 1.05rem;
    color: white;
    margin-top: 85px;
}

#content1Text2{
    font-family: Helvetica;
    color: #fcfaea;
    margin-top: 40px;
    width: 90%;
    font-size: 1.3rem;
}

#content2{
    display: inline-flex;
    font-family: Helvetica;
    color: #536270;
}

#content2-1{
    padding-left: 10%;
}

#content2-3{
    padding-right: 10%;
}


#content2-1, #content2-2, #content2-3{
    display: block;
    width: 33.3%;
    text-align: center;
}

#mobileicon, #driveicon, #webicon{
    width: 100px;
    height: 100px;
    padding-top: 50px;
}

#contactUsToForm{
    font-family: Helvetica;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 40px;
}

#content3Form{
    text-align: center;
    margin-bottom: 50px;
}

#name, #email, #phone, #textarea{
    min-width: 400px;
    width: 600px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Helvetica;
    font-size: 1.4rem;
    color: #000000;
    margin-top: 10px;
}

#submit{
    font-family: Helvetica;
    font-size: 1.5rem;
    color: #d8fdfd;
    padding: 10px 60px 10px 60px;
    background: #1abc9c;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 55px;
    margin-bottom: 50px;
}

button.buyButton{
    font-family: Helvetica;
    font-size: 1.5rem;
    color: #d8fdfd;
    padding: 10px 25px 10px 25px;
    background: #1abc9c;
    border-radius: 5px;
    border: 2px solid white;
    margin-top: 40px;
}