body {
	height: 100vh;
	width: 100%;
	margin: 0;
}

@font-face {
	font-family: "Pacifico";
	src: url("../fonts/Pacifico.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.chat {
	width: 100%;
	height: 100%;
	background: #b9c783;
}

.chat_colorLines {
	display: flex;
	flex-direction: row;
}

.chat_colorLines_lines {
	flex: 1;
	height: 10px;
}

.line0 {
	background: #635960;
}

.line1 {
	background: #8b8e59;
}

.line2 {
	background: #eada7d;
}

.line3 {
	background: #fffecd;
}

.line4 {
	background: #7bc3ab;
}

input{
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 1rem;
}

input[type="text"],
input[type="password"]{
	padding-left: 20px;
	background: #fffced;
	height: 30px;
	margin-bottom: 10px;
	color: #a59ba2;
}


input[type="submit"]{
	background: #635960;
	height: 40px;
	margin-top: 30px;
	cursor: pointer;
	color: #fffced;
}

.chat_name {
	color: #fffced;
	font-family: "Pacifico";
	font-size: 4rem;
	margin-top: 70px;
}

/*****************    index.php - password error  ********************/

.showError{
	display: block;
	color: red;
}

.hideError{
	display: none;
}

/*****************    index.php   ********************/

.chat_form {
	height: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat_inputs{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
	width: 20%;
}

.chat_inputs label{
	color: #635960;
	padding: 10px 0;
	font-family: "Montserrat";
	font-size: 0.8rem;

}

.chat_sendSubmit{
	width: 100px;
}

.submitShadow input[type="submit"]::after {
	content: "";
	display: block;
	position: relative;
	top: 3px;
	right: 3px;
	width: 100px;
	height: 5px;
}


/*****************    chatWindow.php   ********************/

.chat_scope{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 98%;
}

.chat_window{
	margin-top: 30px;
	width: 500px;
	height: 250px;
	background: #fffced;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
}

.chat_massage_submit{
	display: flex;
	flex-direction: row;
}

textarea{
	background: #fffced;
	width: 350px;
	height: 35px;
	resize: none;
	margin-top: 30px;
	margin-right: 65px;
	color: #635960;
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 0.8rem;
}

.messageStyle{
}
