body {
	height: 100vh;
	width: 100%;
	min-width: 600px;
	min-height: 600px;
	margin: 0;
}

@font-face {
	font-family: "Pacifico";
	src: url("../fonts/Pacifico.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.chat {
	width: 100%;
	height: 100%;
	background: #b9c783;
}

.chat_colorLines {
	display: flex;
	flex-direction: row;
}

.chat_colorLines_lines {
	flex: 1;
	height: 10px;
}

.line0 {
	background: #635960;
}

.line1 {
	background: #8b8e59;
}

.line2 {
	background: #eada7d;
}

.line3 {
	background: #fffecd;
}

.line4 {
	background: #7bc3ab;
}

.chat_name {
	color: #fffecd;
	font-family: "Pacifico";
	font-size: 4rem;
	margin-top: 50px;
}

/*****************    index.php - password error  ********************/

.showError{
	display: block;
	color: red;
}

.hideError{
	display: none;
}

/*****************    index.php   ********************/

.chat_form {
	height: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat_inputs{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
}

.chat_inputs input{
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 1rem;
}

.chat_inputs label{
	color: #635960;
	padding: 10px 0;
	font-family: "Montserrat";
	font-size: 0.8rem;

}

.chat_userName,
.chat_userPassword{
	padding-left: 20px;
	background: #fffecd;
	height: 30px;
	margin-bottom: 10px;
	color: #a59ba2;
}

.chat_enterButton{
	position: relative;
	width: 100%;
	background: #635960;
	height: 40px;
	margin-top: 30px;
	cursor: pointer;
	color: #fffecd;
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 1rem;
	z-index: 1000;
}

.chat_enterButton::after{
	position: absolute;
	content: '';
	background: #b9c783;
	height: 20px;
	width: 100%;
	left: 5%;
	top: -50%;
}

.chat_buttonContainer{
	display: flex;
	position: relative;
}

.chat_shadow{
	display: block;
	position: absolute;
	top: 63%;
	left: 5%;
	z-index: 0;
	width: 102%;
	height: 150px;
	background: linear-gradient(to top, rgba(0,0,0,0.06), rgba(0,0,0,0));
	transform: rotate(169deg);
}

/*****************    chatWindow.php   ********************/

.chat_helloUser{
    position: absolute;
    top: 20px;
    left: 25px;
    font-family: "Montserrat";
    color: #fffecd;
    font-size: 2rem;

}

.chat_scope{
	display: flex;
	align-items: center;
	flex-direction: column;
    position: relative;
	height: 98%;
}

.chat_window{
	margin-top: 30px;
	width: 500px;
	height: 250px;
	background: #fffecd;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
}

.chat_massage_submit{
	display: flex;
	flex-direction: row;
}

.chat_textarea{
	background: #fffecd;
	width: 350px;
	height: 35px;
	resize: none;
	margin-top: 30px;
	margin-right: 65px;
	color: #635960;
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 0.8rem;
}

.chat_sendSubmit{
	background: #635960;
	height: 40px;
	margin-top: 30px;
	cursor: pointer;
	color: #fffecd;
	outline: none;
	border: none;
	font-family: "Montserrat";
	font-size: 1rem;
	width: 100px;
}

.messageStyle{
}
